.back{
    background: radial-gradient(40% 50%, #FAECD5, #CAE4D8);
}
.sidebar{
    height: 100%;
    background: #ccc;
}
.inputs{
    width: 100%;
}
.input_dates{

}
.bb{

}
.total{

}
#page_print{
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 8cm;
    height: 100%;
    padding: 5px 5px;
}
#page_content{
    margin: 25px 10px;
}
#page_content table{
    border: 1px black dashed;
    font-size: 12px;
}
#page_content table td{
    border: 1px black dotted;
}
.page_content_text{
    font-size: 11px;
}